projetopowerapps_ferias/Workflows/ControloParental-31828679-4EF3-EE11-A1FD-0022489FEA43.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr058_sharedcommondataserviceforapps_cd24a"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr058_sharedoffice365_ff4a7"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_commondataserviceforapps-1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr058_sharedcommondataserviceforapps_9c18a"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_approvals-1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr058_sharedapprovals_a67d4"
        },
        "api": {
          "name": "shared_approvals"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "cr058_cadastro_ginasio",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/name": "31828679-4ef3-ee11-a1fd-0022489fea43"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {},
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Send_an_email_(V2)_1": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "emailMessage/To": "@triggerBody()?['cr058_responsavelmenor']",
                    "emailMessage/Subject": "Inscrição rejeitada",
                    "emailMessage/Body": "<p>A sua inscrição foi rejeitada</p>",
                    "emailMessage/Importance": "Normal"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                    "operationId": "SendEmailV2",
                    "connectionName": "shared_office365"
                  }
                }
              },
              "Delete_a_row": {
                "runAfter": {
                  "Send_an_email_(V2)_1": [
                    "Succeeded"
                  ]
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "cr058_cadastro_ginasios",
                    "recordId": "@triggerBody()?['cr058_cadastro_ginasioid']"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "operationId": "DeleteRecord",
                    "connectionName": "shared_commondataserviceforapps-1"
                  }
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "startsWith": [
                  "@body('Start_and_wait_for_an_approval')?['outcome']",
                  "A"
                ]
              }
            ]
          },
          "type": "If"
        },
        "Start_and_wait_for_an_approval": {
          "runAfter": {},
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "approvalType": "Basic",
              "WebhookApprovalCreationInput/title": "Aprovar Menor Inscrição",
              "WebhookApprovalCreationInput/assignedTo": " @{triggerBody()?['cr058_responsavelmenor']}",
              "WebhookApprovalCreationInput/enableNotifications": true,
              "WebhookApprovalCreationInput/enableReassignment": true
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals",
              "operationId": "StartAndWaitForAnApproval",
              "connectionName": "shared_approvals-1"
            }
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}