projetopowerapps_solution/Workflows/Fluxo_Aprovacao_Condicional-48D6A2BA-94F2-EE11-A1FD-0022489FEA43.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr058_sharedcommondataserviceforapps_9c18a"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_approvals": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr058_sharedapprovals_a67d4"
        },
        "api": {
          "name": "shared_approvals"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cr058_sharedoffice365_6cdfe"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "cr058_requisicaodecompra",
              "subscriptionRequest/scope": 4
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Start_and_wait_for_an_approval": {
              "type": "OpenApiConnectionWebhook",
              "inputs": {
                "parameters": {
                  "approvalType": "BasicAwaitAll",
                  "WebhookApprovalCreationInput/title": "Fluxo de Aprovacao > 500 euros",
                  "WebhookApprovalCreationInput/assignedTo": "iefp218@alunos.ipca.pt; iefp226@alunos.ipca.pt; iefp231@alunos.ipca.pt",
                  "WebhookApprovalCreationInput/details": "@{triggerBody()?['cr058_justificacao']}@{body('Update_a_row_1')?['cr058_item']}",
                  "WebhookApprovalCreationInput/enableNotifications": true,
                  "WebhookApprovalCreationInput/enableReassignment": true
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals",
                  "connectionName": "shared_approvals",
                  "operationId": "StartAndWaitForAnApproval"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition_1": {
              "actions": {
                "Set_variable": {
                  "runAfter": {
                    "Send_an_email_(V2)": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "ResultadoFinal",
                    "value": "Aprovado"
                  }
                },
                "Send_an_email_(V2)": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "emailMessage/To": "iefp230@alunos.ipca.pt",
                      "emailMessage/Subject": "Aprovada a compra de mais de 500 euros",
                      "emailMessage/Body": "<p>Aprovada a compra de mais de 500 euros</p>",
                      "emailMessage/Importance": "Normal"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                      "connectionName": "shared_office365",
                      "operationId": "SendEmailV2"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Start_and_wait_for_an_approval": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Send_an_email_(V2)_2": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "emailMessage/To": "iefp230@alunos.ipca.pt",
                        "emailMessage/Subject": "Compra Rejeitada >= 500 euros",
                        "emailMessage/Body": "<p>A sua compra foi rejeitada.</p>",
                        "emailMessage/Importance": "Normal"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                        "connectionName": "shared_office365",
                        "operationId": "SendEmailV2"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "contains": [
                      "@body('Start_and_wait_for_an_approval')?['outcome']",
                      "Approve"
                    ]
                  }
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Start_and_wait_for_an_approval_1": {
                "type": "OpenApiConnectionWebhook",
                "inputs": {
                  "parameters": {
                    "approvalType": "Basic",
                    "WebhookApprovalCreationInput/title": "Aprovação < 500 euros",
                    "WebhookApprovalCreationInput/assignedTo": "iefp218@alunos.ipca.pt; iefp226@alunos.ipca.pt; iefp231@alunos.ipca.pt",
                    "WebhookApprovalCreationInput/details": "@{triggerBody()?['cr058_justificacao']}@{body('Update_a_row_1')?['cr058_item']}",
                    "WebhookApprovalCreationInput/enableNotifications": true,
                    "WebhookApprovalCreationInput/enableReassignment": true
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals",
                    "connectionName": "shared_approvals",
                    "operationId": "StartAndWaitForAnApproval"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Condition_2": {
                "actions": {
                  "Send_an_email_(V2)_3": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "emailMessage/To": "iefp230@alunos.ipca.pt",
                        "emailMessage/Subject": "Compra Aprovada < 500 euros",
                        "emailMessage/Body": "<p>A sua compra foi aprovada.</p>",
                        "emailMessage/Importance": "Normal"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                        "connectionName": "shared_office365",
                        "operationId": "SendEmailV2"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Set_variable_1": {
                    "runAfter": {
                      "Send_an_email_(V2)_3": [
                        "Succeeded"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "ResultadoFinal",
                      "value": "Aprovado"
                    }
                  }
                },
                "runAfter": {
                  "Start_and_wait_for_an_approval_1": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Send_an_email_(V2)_4": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "emailMessage/To": "iefp230@alunos.ipca.pt",
                          "emailMessage/Subject": "Compra Rejeitada < 500 euros",
                          "emailMessage/Body": "<p>A sua compra foi rejeitada.</p>",
                          "emailMessage/Importance": "Normal"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  }
                },
                "expression": {
                  "and": [
                    {
                      "equals": [
                        "@body('Start_and_wait_for_an_approval_1')?['outcome']",
                        "Approve"
                      ]
                    }
                  ]
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "and": [
              {
                "greaterOrEquals": [
                  "@triggerBody()?['cr058_preco']",
                  500
                ]
              }
            ]
          },
          "type": "If"
        },
        "Initialize_variable": {
          "runAfter": {
            "Update_a_row_1": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ResultadoFinal",
                "type": "string",
                "value": "Rejeitado"
              }
            ]
          }
        },
        "Update_a_row": {
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cr058_requisicaodecompras",
              "recordId": "@triggerBody()?['cr058_requisicaodecompraid']",
              "item/cr058_requisicao": "@triggerBody()?['cr058_requisicao']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_a_row_1": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cr058_requisicaodecompras",
              "recordId": "@triggerBody()?['cr058_requisicaodecompraid']",
              "item/cr058_requisicao": "Em andamento..."
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}